@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
*{
  font-family: 'Montserrat', sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.roboto{
  font-family: 'Roboto Condensed', sans-serif;
}
.shad{
  box-shadow: -2px 7px 7px 0px gray;;
}

.buttonBg{
background: linear-gradient(to right, #85c9e8 50%, black 50%);
background-size: 200% 200%;
background-position: right ;
transition: all .5s ease-in-out;
}

.buttonBg:hover{
  background-position: left;
}

.buttonBgYellow{
  background: linear-gradient(to right, rgb(250 204 21) 50%, white 50%);
  background-size: 200% 100%;
  background-position: right ;
  transition: all .5s ease-in-out;
}
.buttonBgYellow:hover{
  background-position: left;
}

.fade-in{
  animation: fadeIn ease 2s;
}

@keyframes fade{
  0%{left: 100%; opacity:0};
  100%{left: 0%; opacity: 1;}
}

.cursor-add{
  cursor: zoom-in;
}

.marquee>li{
  animation: marquee 9s ease-in-out infinite;
}

@keyframes marquee{
  0%{transform: translateX(0%);}
  100%{transform: translateX(-103%);}
}

.animate-fire{
animation: fire 3s infinite ease-in-out;
}

@keyframes fire{
  0% {transform: scale(.8);}
  50% {transform: scale(1.4); transform-origin: bottom;}
  100% {transform: scale(.75);}
}

.gradient {
	background: linear-gradient(-90deg, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.flip-box {
  perspective: 900px; 
}

.flip-box-inner {
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}


/* Do an horizontal flip when you move the mouse over the flip box container */
.rotateY {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.box-front, .box-back {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  background-image: url(https://images.unsplash.com/photo-1584968124544-d10ce10dd21f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YmxhY2slMjBhbmQlMjBibHVlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80);
}

/* Style the back side */
.box-back {
  transform: rotateY(180deg);
}